* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width: 100%;
}


/* --------------------------------------- STYLING DU HEADER -----------------------------------------*/

.header_items {
    display: flex;
    justify-content: space-around;
    background: #fff;
}

#imgLogo {
    padding: 10px;
    margin-left: 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.search_box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: fit-content;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background: rgb(248, 56, 56);
    cursor: pointer;
}

.search_box button {
    width: 50px;
    margin: 5px;
    background: rgb(248, 56, 56);
    outline: none;
    border: none;
    cursor: pointer;
}

input[type='text'] {
    width: 90%;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1.3em;
}

#li {
    display: flex;
}

.buttons a {
    text-decoration: none;
    color: #011;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2em;
    border: 1px solid rgb(8, 8, 8);
    transition: .2s;
}

#one,
#two {
    transition: .2s;
}

#one:hover a {
    background: rgb(46, 42, 42);
    color: rgb(255, 255, 255);
}

#one:hover {
    color: rgb(255, 255, 255);
}

#two:hover a {
    background: rgb(44, 41, 41);
    color: rgb(255, 255, 255);
}

#two:hover {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(49, 49, 49);
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}


/* ----------------------FIN DU STYLING DU HEADER*/


/*-------------------------------------------- LA BAR DE NAVIGATION---------------------------------- */

nav {
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: rgb(233, 12, 12);
    display: flex;
    text-align: center;
}

.nav_items {
    margin: 0 auto;
    padding: 5px;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

.nav_items li a {
    color: #fff;
    margin: 3px;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px;
    transition: .5s ease;
}

.nav_items .nav li .active {
    background: #fff;
    color: red;
}

.nav li :hover {
    background: rgb(255, 255, 255);
    color: red;
}


/*--------------------------------------- hamburger nav bar------------------------------- */

.nav_hamburger {
    position: fixed;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom: 1px solid black;
    background: white;
}

.nav_hamburger ul {
    padding: 10px;
    display: block;
}

.nav_hamburger ul li {
    text-align: center;
    padding: 10px;
}

.nav_hamburger ul li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 7px;
    border-radius: 3px;
    transition: .5s;
}

.nav_hamburger ul li a:hover {
    color: red;
    text-decoration: underline;
    transition: .5s;
}

.nav_items .font_icons {
    display: none;
}

.nav_hamburger .cross {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_hamburger .fas {
    width: fit-content;
    cursor: pointer;
    font-size: 1.5em;
    color: red;
    right: 0
}


/* ------------------------STYLING DE LA BAR DE NAVIGATION TERMINER --------------------------*/

section {
    width: 90%;
    margin: auto;
}

.announcement {
    position: relative;
    width: 100%;
    height: 30px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    margin: 20px 0;
    overflow: hidden;
}

#anounce {
    position: absolute;
    width: 125%;
    transform: translateY(100%);
    animation: banner 20s linear infinite;
    text-align-last: right;
}

@keyframes banner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.subsection {
    display: flex;
}

.left {
    width: 75%;
}

.Advertisement {
    display: flex;
    width: 100%;
    height: 30%;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(54, 53, 53);
}

.Advertisement .Text {
    width: 50%;
    /* height: 100%; */
    padding: 5px;
}

.Text h4 {
    margin-left: 20px;
}

.comment .animdiv {
    /* margin: auto 10px; */
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
}

.comment p {
    margin-top: 40px;
}

.animdiv .h1,
.h2 {
    position: absolute;
    font-size: 1.8em;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0;
    bottom: 0px;
    color: rgb(46, 46, 46);
}


/* ----------------------------------------IMAGE DESCRIPTION ANIMATION-----------------------------------A */

.animdiv .h1 {
    animation: 4.8s slider 5s infinite;
}

.animdiv .h2 {
    animation: 4.8s slider 2.9s infinite;
}

@keyframes slider {
    0% {
        opacity: 0;
        bottom: 50px;
    }
    5% {
        bottom: 0px;
        opacity: 1;
    }
    45% {
        bottom: 0;
        opacity: 1;
    }
    50% {
        opacity: 0;
        bottom: -20px;
    }
}

.comment p {
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 2px dotted;
    line-height: 2rem;
}

.the_NEws {
    display: flex;
    width: 100%;
}

.secone {
    width: 50%;
    display: flex;
}

.sectwo {
    width: 50%;
    display: flex;
}

.news_title {
    position: relative;
    /* max-width: 250px; */
    border-bottom: 1px solid rgb(90, 90, 90);
    padding: 1.7em 0px;
    overflow-wrap: break-word;
    margin: 10px 4;
    /* height: 100%; */
}

.news_title h3 {
    text-align: start;
    padding: 10px 0;
    color: #001;
}

.news_title p {
    padding: 0 0 15px;
    color: rgb(41, 41, 41);
    font-weight: 1000;
    letter-spacing: 2px;
}

.news_title h4 {
    /* position: absolute; */
    /* top: 90%; */
    color: rgb(92, 92, 92);
}

.Image_news {
    display: flex;
    position: relative;
    width: 100%;
    margin: 8px auto;
    /* height: 20vh; */
}

.Image_news:first-child {
    border: 1px solid;
}

.image_title {
    max-width: 300px;
    height: 590px;
    margin-right: 10px;
}

.right {
    display: block;
    width: 25%;
    height: fit-content;
    border: 1px solid rgb(0, 0, 0);
    border-top: 10px solid rgb(22, 18, 18);
}

.right .news_titles {
    max-width: 290px;
    padding: 12px;
    margin: 2px 6px;
    border-bottom: 2px dotted;
}

.news_titles h3 {
    text-align: start;
    text-decoration: underline;
    padding: 10px 0;
    color: rgb(21, 21, 22);
}

.news_titles p {
    padding: 0 0 15px;
    color: rgb(34, 33, 33);
    font-weight: 1000;
    letter-spacing: .1rem;
}

.news_titles h4 {
    color: rgb(163, 157, 157);
}

.second {
    position: relative;
    width: 100%;
    height: 70vh;
    background: rgb(192, 192, 192);
    transition: 2s ease;
    scroll-behavior: smooth;
}

.second.Style {
    background: rgb(61, 57, 57);
    scroll-behavior: smooth;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    scroll-behavior: smooth;
}

form>div {
    display: flex;
    justify-content: space-between;
}

.form form>div input {
    margin: 8px 0;
    padding: 12px;
    width: 48%;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    outline: none;
}

.form form>div input:focus {
    border: 2px solid rgb(250, 116, 116);
}

.form input[type='email'] {
    width: 100%;
    margin: 8px 0;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.form input[type='email']:focus {
    border: 2px solid rgb(245, 111, 111);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    margin: 8px auto;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    outline: none;
}

textarea:focus {
    border: 2px solid rgb(248, 103, 103);
}

#btns {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.form input[type='submit'],
input[type='reset'] {
    width: 100px;
    height: 40px;
    padding: 3px;
    text-transform: capitalize;
    font-size: 1.4em;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgb(255, 255, 255);
}

#btns input[type="submit"]:hover {
    background: rgb(241, 100, 100);
    color: #fff;
}

.form input[type='reset'] {
    padding: 2px;
    font-size: 1.4em;
    width: 100px;
    margin-left: 100px;
}

#btns input[type="submit"]:focus {
    border: none;
}

#btns input[type="reset"]:focus {
    border: none;
}

#btns input[type="reset"]:hover {
    background: rgb(219, 84, 84);
    color: #fff;
}


/* -----------------respossive du footer---------------- */

@media screen and (max-width:785px) {
    .header_items .ilogo {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 5px auto; */
        width: 100%;
    }
    .header_items img {
        width: 100%;
    }
    #imgLogo {
        padding: 2px;
        margin-left: 0;
    }
    .nav_hamburger {
        display: none;
    }
    #btns {
        display: block;
    }
    .form input[type='reset'] {
        padding: 2px;
        font-size: 1.4em;
        width: 100px;
        margin: 5px auto;
    }
}

@media screen and (max-width:1000px) {
    .animdiv .h1,
    .h2 {
        font-size: 1.2em;
        line-height: 40px;
    }
    .the_NEws {
        width: 100%;
        display: block;
        justify-content: space-around;
        align-items: center;
    }
    .the_NEws .secone,
    .the_NEws .sectwo {
        width: 100%;
        justify-content: space-around;
    }
    .news_title {
        width: 50%;
    }
    .news_title h4 {
        position: absolute;
        top: 92%;
        height: inherit;
    }
}

@media screen and (max-width:785px) {
    .subsection {
        display: block;
    }
    .header_items {
        display: flex;
        background: #fff;
    }
    .buttons {
        display: block;
        width: 100%;
    }
    .search_box {
        display: flex;
        width: 90%;
        height: 40px;
        margin: 10px auto;
        border-radius: 3px;
        background: rgb(248, 56, 56);
    }
    .search_box input[type='text'] {
        width: 85%;
        outline: none;
        border: none;
        padding: 10px;
        font-size: 1.3em;
    }
    .search_box button {
        width: 15%;
        background: rgb(248, 56, 56);
        outline: none;
        border: none;
    }
    .buttons #li {
        width: 345px;
        display: none;
        margin-top: 0px;
        height: 40px;
    }
    .buttons a {
        color: #011;
        height: 33px;
        padding: 3px;
        text-decoration: none;
        text-transform: capitalize;
        border: none;
        font-size: 1.3em;
    }
    #li>div {
        width: 150px;
        margin-top: 0px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #one,
    #two {
        transition: .1s;
    }
    #one {
        margin-right: 40px;
        color: rgb(1, 20, 192);
        border: 1px solid rgb(0, 0, 0);
    }
    #one:hover {
        background: rgb(0, 0, 0);
    }
    #two:hover {
        background: rgb(0, 0, 0);
    }
    #two {
        margin-left: 10px;
        border: 1px solid rgb(0, 0, 0);
        color: rgb(1, 20, 192);
    }
}

@media screen and (max-width:785px) {
    .left {
        width: 100%;
    }
    .Advertisement {
        display: block;
        width: 98%;
        margine-righ: 20px;
    }
    .Advertisement .image {
        width: 100%;
    }
    .image img {
        width: 100%;
        height: 100%;
    }
    .Advertisement .Text {
        width: 100%;
    }
    .comment {
        width: 100%;
    }
    .comment .animdiv {
        position: relative;
        height: 220px;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgb(3, 3, 3);
    }
    .animdiv .h1,
    .h2 {
        font-size: 1.2em;
    }
    .the_NEws {
        display: block;
        width: 100%;
    }
    .secone {
        width: 100%;
        display: block;
    }
    .the_NEws .secone .news_title,
    .the_NEws .sectwo .news_title {
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 20px;
        width: 80%;
    }
    .sectwo {
        width: 100%;
        display: block;
    }
    .Image_news {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image_title {
        width: 100%;
        height: 100%;
        margin-top: 12px;
    }
}

@media screen and (max-width:785px) {
    .right {
        width: 100%;
        margin: 20px 0;
        border-top: none;
        border-bottom: none;
        box-shadow: 0 0 5px 1px #000;
    }
    .right .news_titles {
        width: 100%;
        padding: 4px;
        margin: 5px auto;
        border: 1px solid black;
    }
    .news_titles:nth-child(1) {
        /* margin-top: 10px; */
        border: none;
    }
}

@media screen and (max-width:785px) {
    .nav_items .nav,
    .header_items .buttons .connect {
        display: none;
    }
    .header_items {
        display: block;
    }
    .nav_items .font_icons {
        display: block;
    }
    .nav_items .font_icons .fas {
        font-size: 1.5em;
        color: white;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        width: fit-content;
    }
    .nav_items {
        width: 100%;
        /* position: relative;   */
        padding: 0;
        /* height: fit-content; */
    }
    .nav_hamburger .cross {
        padding: 10px;
        width: 100%;
        /* border: 2px solid blue; */
        display: flex;
        justify-content: flex-end;
        /* position: absolute; */
    }
    .nav_hamburger .fas {
        width: fit-content;
        cursor: pointer;
        font-size: 1.5em;
        color: red;
        right: 0;
        /* position: absolute; */
    }
    .nav_hamburger {
        display: none;
    }
}

@media screen and (max-width:380px) {
    .animdiv {
        font-size: smaller;
    }
    .animdiv .h1,
    .animdiv .h2 {
        line-height: 20px;
    }
    section,
    .news_title {
        width: 100%;
    }
    .news_title {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .secone {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}